.main-header .navbar .navbar-custom-menu .navbar-nav>li>a,
.main-header .navbar .navbar-collapse .navbar-nav>li>a {
	border-right: 1px solid rgba(0, 0, 0, .09);
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	background-color: #777;
}

.user-profil {
	margin: 5px 0;
}
